.chats_body {
    padding: 0;
}

.chats-body .header,
.chats-body .status-bar {
    padding: 0 20px;
}

.chat-screen {
    min-height: 100vh;
    background-image: url("../img/chatBg.png");
}

.chat__write {
    position: fixed;
    bottom: 50px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    padding: 0 20px;
    border-radius: 40px;
    justify-content: space-between;
}

.chat__write i {
    font-size: 22px;
}

.chat__write-column:nth-child(2) {
    width: 80%;
}

.chat__write-column input {
    padding: 16px 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat__write-column input:focus {
    outline: none;
}

.chat-screen .chat__messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: 30px;
    border-top: 1px solid #f7f7f7;
}

.chat__messages .chat__timestamp {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
        rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    font-weight: 700;
}

.message {
    display: flex;
    align-items: center;
    width: 50%;

}

.message .message__content {
    width: 80%;
}

.incoming-message {
    align-self: flex-start;
}

.incoming-message img {
    width: 30px;
    border-radius: 15px;
    margin-right: 20px;
}

.sent-message {
    align-self: flex-end;
}

.message .message__bubble {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    padding: 10px 20px;
    border-radius: 30px;


}