.header-wrapper {
    background-color: #9CB5C9;
    padding: 10px;
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100%;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);


}

.chats-body {
    padding: 10px 0;
    padding-top: 120px;
}

.chats-body .header,
.chats-body .status-bar {
    padding: 0 20px;
}

.chats-body {
    min-height: 1000vh;
    background-color:#b2c7d9;
    /* background-image: url("../img/chatBg.png"); */

}

.chat__write--container {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025); */
    justify-content: space-between;
    width: 100%;

}



.chat__icon-left {
    position: absolute;
    left: 10px;
}

.chat__icon-right {
    position: absolute;
    right: 10px;
}

@keyframes float {
    0% {
        box-shadow: 0 13px 27px 15px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    }

    50% {
        box-shadow: 0 13px 27px -10px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    }

    100% {
        box-shadow: 0 13px 27px 15px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    }
}


.chat__write {
    bottom: 0;
    width: 100%;
    border-radius: 0;
    padding: 16px 50px;
    background-color: white;
    width: 100%;
    border: none;
    font-size: 14px;
    transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin: 0 auto;

}

.chat__write:focus {
    outline: none;
    width: 80%;
    transform: translateY(-100px);
    border-radius: 40px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    animation: float 3s linear infinite forwards;
}

.chat__icon {
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.chat__write:focus~.chat__icon {
    opacity: 0;
}

.chat__write i {
    font-size: 22px;
}

.chat__write-column:nth-child(2) {
    width: 80%;
}

.chat__write-column input {}



.chat-screen .chat__messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: 30px;
    border-top: 1px solid #b2c7d9;

}

.chat__messages .chat__timestamp {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
        rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    font-weight: 700;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

}

.incoming-message {
    align-self: flex-start;
}


@keyframes spin {
    from {
        transform: none;
    }

    to {
        transform: rotateY(2turn);
    }
}

.incoming-message img {
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    animation: spin 1.3s linear forwards;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
}

.sent-message {
    align-self: flex-end;
}

.message .message__bubble {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: block;
    border-radius: 20px;
    font-size: 13px;
    background-color: white;
    font-weight: 400;
}

.message .message__bubble .picture {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.message .message__bubble .picture img {
    width: 100%;
    height: 100%;
    border-radius: 0;

}

.incoming-message .message__author {
    margin-bottom: 10px;
    display: block;
    font-weight: 300;
    font-size: 12px;


}

.incoming-message .message__bubble {
    border-bottom-left-radius: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #333333;
    background: white;
}

.sent-message .message__bubble {
    border-bottom-right-radius: 0;
    color: #333333;
    margin-bottom: 10px;
    background-color: #efd923;
}

@keyframes incomingAnimation {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.incoming-message {
    animation: incomingAnimation .7s ease-out forwards;
}

@keyframes sentAnimation {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.sent-message {
    animation: sentAnimation .7s ease-out forwards;
}

.imoji-box img {
    width: 90px;
    height: 90px;
}