.nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: #fcfcfc;
    border-top: 1px solid #f7f7f7;
}

@keyframes showNavBar {
    from {
        transform: translateY(80px);
    }

    to {
        transform: none;
    }
}

.nav {
    /*숨겨진 채로 로드됨*/
    transform: translateY(80px);
    animation: showNavBar 0.5s ease-out forwards;
    animation-delay: .5s;
}

.nav .nav__list {
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;

}

.nav .nav__list-link {
    position: relative
}

.nav .nav__list-link .nav__badge {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: #dc5d46;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}